.markdown-body {
    --callout-color: 68, 138, 255;
}

.markdown-body hr {
    margin: 1em 0;
}

.markdown-body a {
    color: #0070f3;
    text-decoration: none;
}

.markdown-body blockquote {
    margin: 1em 0;
    margin-left: 1px;
    padding: 0.25em 1em;
    border-left: 0.25em solid #eaecef;
}

.markdown-body blockquote>:first-child {
    margin-top: 0;
}

.markdown-body ul {
    list-style-type: disc;
}

.markdown-body ol {
    list-style-type: decimal;
}

.markdown-body ::marker {
    color: #6a737d;
}

.markdown-body ul.contains-task-list {
    list-style-type: "";
}

.markdown-body ul .task-list-item-checkbox {
    margin: 0 .2em .25em -1.25em;
    vertical-align: middle;
}

.markdown-body ul,
.markdown-body ol {
    margin: 1em 0;
    padding-left: 1.25em;
}

.markdown-body ol ol,
.markdown-body ul ol,
.markdown-body ol ul,
.markdown-body ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: lower-alpha;
}

.markdown-body li>p {
    margin-top: 1em;
}

.markdown-body li+li {
    margin-top: .25em;
}

.markdown-body .callout {
    padding: .75em;
    padding-left: 1.5em;
    margin: 1em 0;
    border-radius: .25em;
    background-color: rgba(var(--callout-color), 0.1);
    mix-blend-mode: lighten;
}


.markdown-body .callout-title {
    font-weight: bold;
    color: rgb(var(--callout-color));
}

.markdown-body .callout-icon::after {
    float: left;
    margin-right: .25em;
    content: "✎";
    transform: rotateZ(90deg);
}

.markdown-body .callout-info .callout-icon::after {
    content: "ℹ";
    transform: rotateZ(0deg);
}

.markdown-body .callout-success .callout-icon::after {
    content: "✓";
    transform: rotateZ(0deg);
}

.markdown-body .callout-warning .callout-icon::after {
    content: "⚠️";
    transform: rotateZ(0deg);
}

.markdown-body .callout-error .callout-icon::after {
    content: "⛔︎";
    transform: rotateZ(0deg);
}

.markdown-body .callout-info {
    --callout-color: 0, 184, 212;
}

.markdown-body .callout-success {
    --callout-color: 0, 200, 83;
}

.markdown-body .callout-warning {
    --callout-color: 255, 145, 0;
}

.markdown-body .callout-error {
    --callout-color: 255, 23, 68;
}

.markdown-body .callout-content {
    margin-top: 1em;
    margin-bottom: 1em;
}